<div class="alert alert-warning" role="alert">
<i class="fa fa-warning"></i> <b>Important:</b> This specification is based on the <a href="https://theprsb.org/standards/communitypharmacystandardstage2/">Professional Records Standards Body's Community Pharmacy Standard V2.2 standard</a> which provides further information on document headings and content for messages:
<ul><a href="https://prsb2.vercel.app/page/vaccination-administration?hsCtaTracking=f8fa4883-0b5a-4a32-b52e-d7157f85f3af%7C07d57cad-28ce-4cb6-bd45-4e393b574129">Vaccinations</a></ul>
<ul><a href="https://prsb2.vercel.app/page/cpcs-emergency-supply?hsCtaTracking=459192c9-50ef-41f4-a4f6-a54285f202bd%7C7643ff12-eb81-4bb1-aaf4-1af969be8398">Emergency Supply</a></ul>
 </div>